body {
  padding: 70px 0 20px 0;
}

.user, .no-user {
  display: none;
}

.error {
  .alert {
    margin: 10px 0;
  }
}

.form-group {
  margin-right: 5px;
}

#new-item {
  width: 100%;
  height: 100px;
}

#modal-error {
  .alert {
    margin: 0;
    text-transform:capitalize;
  }
}

.container-fluid {
  max-width: 1200px;
}

.well {
  padding: 30px;
}

.meta {
  span {
    margin-right: 3px;
  }
  margin-bottom: 25px;
}

.ldquo {
  font-size: 70px;
  font-family: serif;
  display: inline-block;
  vertical-align: top;
  line-height: 43px;
}

.text {
  display: inline-block;
  width: 96%;
  white-space: pre-wrap;
}